body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: times;
    color: #333;}
/* Header */
header {
    background-color: #333333;
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    min-height: 50px;
    text-align: center;}
h1 {
    background-image: url('../img/creative-folk.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px auto 5px auto;
    width: 516px;
    height: 21px;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;}
#gallery {
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;}

#gallery img {
    width: 300px;
    height: 150px;
    border-radius: 3px;
    border: 8px solid #fff;
    margin: 6px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
    float: left;}
#buttons, #search {
    text-align: center;
    margin-bottom: 30px;}
button {
    background-color: #d7d7d7;
    border: none;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #333;
    font-size: 100%;}

button:hover, button.active {
    background-color: #00cccc;
    color: #fff;
    cursor: pointer;}

input {
    font-size: 120%;
    border: 1px solid #999;
    padding: 5px;}
input:hover {
    border: 1px solid #666;}
input:focus {
    border: 1px solid #00cccc;
    outline: none;}
#search p{
    margin:5px auto 0px auto;
    width:300px;
    text-align: center;
    color: #005959;
    background-color: #e8c9d0;
}
.hide{
    display: none;
}